<div id="landing">
  <div class="inner">
    <div class="container">
      <div class="row">

        <div class="span5">
          <div class="landing-text">
            <h1>Learn physics in a whole new way.</h1>

            <h3>Through live interactive lessons we offer the most intuitive and engaging way to learn physics.</h3>

            <div class="call_to_action">
              <%= link_to lesson_task_path(lesson_id: Lesson.first.id, id: Task.first.id), class: "btn btn-large btn-success", id: "call_to_action_btn" do %>
                Get Started &nbsp; <i class="icon-chevron-right icon-white"></i>
              <% end %>
            </div>

          </div>
        </div>

        <!-- The Lesson Preview Partial -->
        <div class="span7">
          <div id="preview" class="faraday canvas_wrapper" data-width="500" data-height="320" data-path=<%= asset_path("faraday/sample_circuits/bandpass.json")%> >
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="features-list">

  <div id="content">
    <div class="inner">
      <div class="container">
        <div class="row">


          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div>
                  <i class="icon-pencil"></i>
                </div>
                <h2>Learn</h2>
              </div>
            </div>

            <div class="feature-content">
              <%= link_to image_tag(asset_path 'test/mech_example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Physics like you've never <em>seen</em> it before</h4>

              <p>Physics Academy is the most effective and enjoyable way to learn and to teach physics at any level.
                Take our interactive lessons and play games tailored for your level while tracking your progress and
                earning redeemable points as you go.
              </p>
            </div>

          </div>

          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div class="number">
                  <i class="icon-user"></i>
                </div>
                <h2>Interact</h2>
              </div>
            </div>

            <div class="feature-content">

              <%= link_to image_tag(asset_path 'home/interact.jpg'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Ask questions and learn from others</h4>

              <p>Stuck on a problem? Have a question? Post questions and receive answers. Or invite your
                friends, classmates, or mentors to Physics Academy via email or your preferred social network.
              </p>
            </div>
          </div>

          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div class="number">
                  <i class="icon-book"></i>
                </div>
                <h2>Contribute</h2>
              </div>
            </div>

            <div class="feature-content">
              <%= link_to image_tag(asset_path 'home/contribute.jpg'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Share your knowledge with the world</h4>

              <p>Are you a physics guru? Physics Academy gives you the forum to reach others and share your knowledge
                with the world. Gain reputation and build your resume or CV based on your own contributions.
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<%= render 'layouts/extra' %>