<div id="landing">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span5 landing-text">


          <h1>Physics like you've never <em>seen</em> it before</h1>

          <!-- pitch text -->
          <h3>Offering live interactive tutorials Physics Academy provides the most intuitive and fun way to learn physics.</h3>

          <!--<small> Sign up to be included in our upcoming beta. </small>-->

          <%= link_to "Get Started", signup_path, class: "btn btn-large btn-danger", id: "call-to-action" %>

        </div> <!-- /landing-text -->

        <canvas id="canvas_box2d" width="530" height="320" class="lrc landing-screenshot well" style="padding: 0; margin: 0px 0px 15px 16px; border: 2px solid #8b0000;">
        </canvas>

      </div> <!-- .row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /landing -->



<div id="content">

  <div class="inner">

    <div class="container">

      <div class="row">


        <!--<div class="span12">-->
          <!--<h3><span class="slash">//</span> Why Physics Academy?</h3>-->
        <!--</div>-->


        <div class="features-list">
          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div>
                 <i class="icon-pencil"></i>
                </div>
                <h2>Learn.</h2>
              </div> <!-- /circle-icon -->
            </div>

            <div class="feature-content">
              <%= link_to image_tag(asset_path 'test/mech_example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Physics like you've never <em>seen</em> it before</h4>
              <p>Physics Academy is the most effective and enjoyable way to learn and to teach physics at any level.
                Take our interactive lessons and play games tailored for your level while tracking your progress and
                earning redeemable points as you go.
              </p>
            </div> <!-- /feature-content -->

          </div>

          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div class="number">
                  <i class="icon-user"></i>
                </div>
                <h2>Interact.</h2>
              </div> <!-- /circle-icon -->
            </div> <!-- /feature-thumbnail -->

            <div class="feature-content">


            <%= link_to image_tag(asset_path 'home/interact.jpg'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Ask questions and learn from others</h4>
              <p>Stuck on a problem? Have a question? Post questions and receive answers. Or invite your friends, classmates,
                or mentors to Physics Academy via email or your preferred social network.
               </p>
            </div> <!-- /feature-content -->
          </div>

          <div class="span4">

            <div class="feature-thumbnail">
              <div class="circle-icon">
                <div class="number">
                  <i class="icon-book"></i>
                </div>
                <h2>Contribute.</h2>
              </div> <!-- /circle-icon -->
            </div> <!-- /feature-thumbnail -->

            <div class="feature-content">
              <%= link_to image_tag(asset_path 'home/contribute.jpg'), '#', alt: "Screenshot", class: "thumbnail" %>
              <h4>Share your knowledge with the world</h4>
              <p>Are you a physics guru? Physics Academy gives you the forum to reach others and share your knowledge
                with the world. Gain reputation and build your resume or CV based on your own contributions.
              </p>
            </div> <!-- /feature-content -->


          </div>
        </div>


      </div> <!-- /row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /content -->



<div id="screenshots">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span12">
          <h3><span class="slash">//</span> Sample Topics </h3>
        </div>

        <div class="span4">

          <h3>Laws of Motion</h3>
          <%= link_to image_tag(asset_path 'test/mech_example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

        <div class="span4">

          <h3>Electronics</h3>


          <%= link_to image_tag(asset_path 'test/example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

        <div class="span4">

          <h3>Celestial Mechanics</h3>

          <%= link_to image_tag(asset_path 'test/mech_example2.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

      </div> <!-- /row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /screenshots -->


<%= render 'layouts/extra' %>

