
<div id="landing">

  <div class="inner">

    <div class="container">

      <div class="row">


        <div class="span5 landing-text">


          <h1>Physics made fun.</h1>

          <p>Physics Academy was founded on a simple philosophy that the best way to learn is by doing. <br />
            We'll be launching a beta soon. If you'd like to join, feel free to sign up or join our mailing list
            at the bottom of the page</p>

          <p class="landing-actions">
            <a href="javascript:;" class="btn btn-large btn-inverse">Sign Up</a>
          </p>

        </div> <!-- /landing-text -->

        <canvas id="canvas_box2d" width="540" height="320" class="lrc span7 landing-screenshot well" style="padding: 0; margin: 0px 0px 15px 16px; border: 2px solid #8b0000;">
        </canvas>

      </div> <!-- .row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /landing -->



<div id="content">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span8">

          <h3><span class="slash">//</span> Why Physics Academy?</h3>


          <ul class="features-list">


            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    1
                    <!--<i class="icon-list-alt"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Learn through interactive examples.</h3>
                <p>Our live simulations model the real world to help you understand concepts as they would exist in the physical world</p>
              </div> <!-- /feature-content -->
            </li>
            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    2
                    <!--<i class="icon-flag"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Learn at your own pace</h3>
                <p>Save answers and lessons as you go. We offer lessons at various levels in a variety of subjects. </p>
              </div> <!-- /feature-content -->
            </li>
            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    3
                    <!--<i class="icon-resize-small"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Learn with others.</h3>
                <p>Share your results and progress with your friends.</p>
              </div> <!-- /feature-content -->
            </li>
            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    4
                    <!--<i class="icon-tint"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Share your knowledge</h3>
                <p>Contribute and participate in discussions with the community</p>
              </div> <!-- /feature-content -->
            </li>
            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    5
                    <!--<i class="icon-trophy"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Feature #5</h3>
                <p>Feature description will go here</p>
              </div> <!-- /feature-content -->
            </li>
            <li class="feature">
              <div class="feature-thumbnail">
                <div class="circle-icon">
                  <div>
                    6
                    <!--<i class="icon-file"></i>-->
                  </div>
                </div> <!-- /circle-icon -->
              </div> <!-- /feature-thumbnail -->

              <div class="feature-content">
                <h3>Feature #6</h3>
                <p>Feature description will go here</p>
              </div> <!-- /feature-content -->
            </li>


          </ul> <!-- /features-list -->
          </ul> <!-- /features-list -->

        </div> <!-- /span8 -->


        <div class="span4">

          <h3><span class="slash">//</span> Testimonials</h3>


          <ul class="testimonials-list">

            <li>
              <div class="testimonial-avatar">
                <div class="img">
                  <%= image_tag "theme/avatar.png", alt: "Thumbnail" %>
                </div>
              </div> <!-- /testimonial-avatar -->

              <div class="testimonial-text">
                <p>
                  <span class="testimonial-author">Anthony</span>
                  Info Here

                </p>
              </div> <!-- /testimonial-text -->
            </li>

            <li>
              <div class="testimonial-avatar">
                <div class="img">
                  <%= image_tag "theme/avatar2.png", alt: "Thumbnail" %>
                </div>
              </div> <!-- /testimonial-avatar -->

              <div class="testimonial-text">
                <p>
                  <span class="testimonial-author">Anthony</span>
                  Info Here

                </p>
              </div> <!-- /testimonial-text -->
            </li>


            <li>
              <div class="testimonial-avatar">
                <div class="img">
                  <%= image_tag "theme/avatar3.png", alt: "Thumbnail" %>
                </div>
              </div> <!-- /testimonial-avatar -->

              <div class="testimonial-text">
                <p>
                  <span class="testimonial-author">Anthony</span>
                  Info Here

                </p>
              </div> <!-- /testimonial-text -->
            </li>

          </ul>

        </div> <!-- /span4 -->

      </div> <!-- /row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /content -->



<div id="screenshots">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span4">

          <h3>Laws of Motion</h3>

          <%= link_to image_tag(asset_path 'test/mech_example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

        <div class="span4">

          <h3>Electronics</h3>


          <%= link_to image_tag(asset_path 'test/example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

        <div class="span4">

          <h3>Thermodynamics</h3>

          <%= link_to image_tag(asset_path 'test/mech_example2.png'), '#', alt: "Screenshot", class: "thumbnail" %>

        </div> <!-- /span4 -->

      </div> <!-- /row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /screenshots -->


<%= render 'layouts/extra' %>
			