<% provide(:title, @lesson.title) %>

<!-- Padding for window -->
<div class="chalkboard-background padded">

  <!-- PATHBAR -->
  <div class="row-fluid">
    <%= render partial: "tasks/components/breadcrumb" %>
  </div>

  <div class="row-fluid">

    <!-- LEFT NAVBAR -->
    <div class="box-container span2 sidebar-nav shadow">
        <%= render partial: "tasks/components/nav_sidebar" %>
    </div>

    <div class="span8 box-container orange-header shadow">

      <!-- LESSON DESCRIPTION -->
      <%= render partial: "tasks/components/description" %>

      <!-- LESSON CONTENT ------------------------------------------->
      <%= render 'tasks/components/task_content' %>
      <!------------------------------------------------------------->

    </div>

    <%= render partial: "tasks/components/help" %>

  </div>

  <%= render partial: "tasks/components/modal" %>

</div>

<%= debug(@subscription) if Rails.env.development? %>

