<% provide(:title, 'Edit Profile') %>

<%=  render partial: 'layouts/subheader', locals: {title: "Account &raquo Edit Profile".html_safe} %>

<div class="chalkboard-background">

  <div class="container">

    <div class="row">

      <div class="box-container span11">

        <div class="box-header">
          <div class="box-title">
            Edit your credentials below
          </div>
        </div>

        <%= form_for(@user, class: "form-horizontal") do |f| %>


            <fieldset>

              <div class="control-group">
                <label class="control-label" for="focusedInput">Focused input</label>
                <div class="controls">
                  <input class="input-xlarge focused" id="focusedInput" type="text" value="This is focused…">
                </div>
              </div>

            </fieldset>

            <div class="box-features form">

            <%= render 'shared/error_messages', object: @user %>

            <table style="width: 500px">

              <tr>
                <td>
                  <%= f.label :name %>
                </td>
                <td>
                  <%= f.text_field :name %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :email %>
                </td>
                <td>
                  <%= f.text_field :email %>
                </td>

              </tr>

              <tr>
                <td colspan="2"> <hr> </td>
              </tr>

              <!-- TODO add current-password validation here -->

              <tr>
                <td>
                  <%= f.label :password %>
                </td>
                <td>
                  <%= f.password_field :password %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :password_confirmation, "Confirm" %>
                </td>
                <td>
                  <%= f.password_field :password_confirmation %>
                </td>
              </tr>

              <tr>
                <td colspan="2"> <hr> </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :username, "Username" %>
                </td>
                <td>
                  <%= f.text_field :username %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :location, "Location" %>
                </td>
                <td>
                  <%= f.text_field :location %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :about_me, "About Me" %>
                </td>
                <td>
                  <%= f.text_area :about_me, maxlength: 250 %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :website_url, "Website" %>
                </td>
                <td>
                  <%= f.text_field :website_url %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :website_url, "Website" %>
                </td>
                <td>
                  <%= f.text_field :website_url %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :twitter, "Twitter" %>
                </td>
                <td>
                  <%= f.text_field :twitter %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :linkedin_url, "LinkedIn URL" %>
                </td>
                <td>
                  <%= f.text_field :linkedin_url %>
                </td>
              </tr>

            </table>

            <%# gravatar_for @user %>
            <!--<a href="http://gravatar.com/emails" target="_blank">change</a>-->
          </div>

          <div class="box-actions">
            <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
          </div> <!-- /plan-actions -->

        <% end %>

      </div>

    </div>

  </div>

</div>