<div class="row">


  <div class="box-container orange-header">
    <div class="box span12">

      <div class="box-header">

        <div class="box-title">
          <%= lesson.title %>
        </div>

        <div class="box-content">

          <div class="row">

            <div class="span8" style="margin-right: -25px">
              <%= image_tag "thumbs/default.png" %>
              <p> <%= lesson.description %> </p>

              <div style="clear: both"></div>
            </div>

            <div class="span4">
              <div class="well" style="margin-right: -15px">
                <ul class="nav">
                  <li class="nav-header" id="covered_topics">
                    Covered Topics:
                  </li>
                  <% lesson.challenges.all(limit: 5).each do |challenge| %>
                    <li style="margin-left: 1em;">
                      <%= link_to raw("&bull; " + challenge.title), "#" %>
                    </li>
                  <% end %>
                  <li style="text-align: center; border-top: 1px solid #bad3c4; background-color: #ebf2ef">
                    <%= link_to raw(content_tag(:i, "", class: "icon-chevron-down") +
                                            " Expand " +
                                            content_tag(:i, "", class: "icon-chevron-down")), "#" %>
                  </li>

                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="box-actions">

        <div class="row">


          <%# unless lesson.completed %>
          <div class="span2 under-construction"
               rel="popover"
               data-content="This lesson is currently under construction check back for updates." data-original-title="Under Construction">

            <%= content_tag(:i, "   Under construction", class: "icon-cog", style: "margin-left: .5em; color: white") %>

          </div>
          <%# end %>


          <div class="span2">
            <strong>Level: </strong> <span class="label label-success"><%= lesson.difficulty %></span>
          </div>

          <% percent = 50 %>
          <% if percent > 0 && signed_in? %>
            <div class="span2">
              Your Progress:
            </div>
            <div class="span3">

              <div class="progress progress-success progress-striped active" style="margin-bottom: 0; margin-top: .3em">
                <div class="bar" style="width: <%= percent %>%;"><strong><%= percent %>%</strong></div>
              </div>

            </div>
          <% end %>

          <% link_text = (signed_in? && current_user.subscribed_to?(lesson)) ? "Continue &raquo;" : "Start &raquo;" %>
          <%= link_to link_text.html_safe, lesson_challenge_path(lesson_id: lesson.id, id: lesson.challenges.first.id),
                      id: "lesson_#{lesson.id}_start", class: "btn btn-success pull_right" %>

        </div>

      </div>
    </div>
  </div>


</div>

