<%# This page is shown as the User sign-in page %>
<% provide(:title, "Sign in") %>

<%= render :partial => 'layouts/subheader', locals: {title: "Sign In"} %>

<div class="chalkboard-background">
  <div class="container">

    <div class="row offset3">

      <div id="login-box" class="box-container span6 clear_side_margins shadow" style="margin-left: 0px">

        <div class="box-header box-title">
          Enter your login info
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

          <div class="box-features">

            <fieldset>

              <div class="control-group">
                <%= f.label :email, class: "control-label" %>
                <div class="controls">
                  <%= f.text_field :email, class: "input-large focused" %>
                </div>
              </div>

              <div class="control-group">
                <%= f.label :password, class: "control-label" %>
                <div class="controls">
                  <%= f.password_field :password, class: "input-large" %>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">

                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me, id: "remember_me", name: "remember_me", style: "float: left" %>
                    <%= label_tag :remember_me, "&nbsp&nbspRemember me".html_safe, style: "float: left" %>
                  <% end -%>

                </div>
              </div>

            </fieldset>

          </div>

          <div class="box-actions">
            <%= f.submit "Sign in", class: "btn btn-success btn-large btn-primary" %>
          </div>

        <% end %>

      </div>

      <%= render "devise/shared/links" %>

    </div>

  </div>
</div>