<!-- HEADER CONTENT -->
<div class="box-header">

  <!-- TITLE -->
  <div class="box-title">
    <%= @lesson.title %>
  </div>

  <!-- LOGO AND PROGRESS -->
  <div class="box-subheader">
    <%= image_tag "thumbs/default.png" %>
    <span class="term">
              Completed <%= @subscription.completed_challenges.size %> of <%= @lesson.challenges.size %> Challenges
            </span>
            <span class="term">
              Points Earned: <%= @subscription.points %>
            </span>
  </div>

</div>

<!-- NAVIGATION LIST -->
<div class="box-features">
  <ul id="challenge_nav" class="nav">
    <%= challenge_list %>
  </ul>
</div>

<!-- SUBMISSION BUTTON -->
<div class="box-actions">
  <%= link_to "Submit", submit_lesson_challenge_path, class: "btn btn-large btn-success", remote: true, method: :put, id: "submit" %>
</div>