<% provide(:title, @lesson.title) %>

<!-- Padding for window -->
<div class="chalkboard-background padded">

  <!-- PATHBAR -->
  <div class="row-fluid">
    <%= render partial: "challenges/components/pathbar" %>
  </div>

  <div class="row-fluid">

    <!-- LEFT NAVBAR -->
    <div class="box-container span2 sidebar-nav">
        <%= render partial: "challenges/components/nav_sidebar" %>
    </div>

    <div class="span8 box-container orange-header">
      <!-- LESSON DESCRIPTION -->
      <%= render partial: "challenges/components/description" %>

      <!------------------------------------------------------------->
      <!-- LESSON CONTENT ------------------------------------------->
      <%= render 'challenges/components/challenge' %>
      <!------------------------------------------------------------->
      <!------------------------------------------------------------->

    </div>

    <%= render partial: "challenges/components/help" %>

  </div>

  <%= render partial: "challenges/components/modal" %>

  <%= debug(@challenge) if Rails.env.development? %>
  <%= debug(@subscription) if Rails.env.development? %>

</div>

