<% provide(:title, @lesson.title) %>

<!-- Padding for window -->
<div class="chalkboard-background padded">

  <!-- PATHBAR -->
  <div class="row-fluid">
    <%= render partial: "pathbar" %>
  </div>

  <div class="row-fluid">

    <!-- LEFT NAVBAR -->
    <div class="box-container span2 sidebar-nav">
        <%= render partial: "nav_sidebar" %>
    </div>

    <div class="span8 box-container orange-header">
      <!-- LESSON DESCRIPTION -->
      <%= render partial: "description" %>
      <!-- LESSON CONTENT -->
      <%= render 'challenge' %>
    </div>

    <%= render partial: "help" %>

  </div>

  <%= render partial: "modal" %>

</div>

