<% provide(:title, 'labs') %>

<%= render :partial => 'layouts/subheader', locals: {title: "Labs"} %>



<div id="subpage">

<div class="container">

<div class="row">

  <div class="span12">

    <div class="big-intro">Practice your knowledge and test new concepts</div>

  </div> <!-- /span12 -->

</div> <!-- /row -->

<br /><br />

<div class="row">


  <div class="span6 feature-block">

    <h2><span class="slash">//</span> Circuits & Electronics</h2>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/Circuits.png'), labs_circuits_path %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span6 -->

  <div class="span6 feature-block">

    <h2><span class="slash">//</span> Mechanics</h2>

    <div class="thumbnail">

      <%= link_to image_tag(asset_path 'labs/mechanics.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span6 -->


</div> <!-- /row -->


<br /><br />

<hr>
<div class="row">

  <h2><span class="slash">//</span> Featured Circuits Examples</h2>

  <div class="span4 feature-block">

    <h4>Capacitors in Series and Parallel </h4>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/example1.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->

  <div class="span4 feature-block">

    <h4>Series RLC Resonance</h4>

    <div class="thumbnail">
      <%= link_to image_tag('labs/example2.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->

  <div class="span4 feature-block">

    <h4>Resistance and Ohm's Law</h4>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/example3.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->


</div> <!-- /row -->

<hr>
<div class="row">

  <h2><span class="slash">//</span> Featured Mechanics Examples</h2>

  <div class="span4 feature-block">

    <h4>Hooke's law and harmonic motion </h4>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/mech_example1.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->

  <div class="span4 feature-block">

    <h4>Newton's law of gravitation</h4>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/mech_example2.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->

  <div class="span4 feature-block">

    <h4>Projectile motion</h4>

    <div class="thumbnail">
      <%= link_to image_tag(asset_path 'labs/mech_example3.png'), '#' %>
    </div> <!-- /thumbnail -->

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div> <!-- /span4 -->


</div> <!-- /row -->

<br /><br />

<!--

<div class="row">

  <div class="span12"><h3><span class="slash">//</span> Other Great Benefits</h3></div>

  <div class="span4 feature-list">

    <ul>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Vivamus ultrices lectus eget dolor feugiat rutrum.
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Praesent vitae tellus lorem, mollis gravida tellus.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Proin elementum placerat libero, nec euismod odio iaculis vitae.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Mauris eget augue dolor, quis laoreet tortor.
        </div>

      </li>
    </ul>
  </div>

  <div class="span4 feature-list">

    <ul>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Vivamus ultrices lectus eget dolor feugiat rutrum.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Praesent vitae tellus lorem, mollis gravida tellus.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Proin elementum placerat libero, nec euismod odio iaculis vitae.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Mauris eget augue dolor, quis laoreet tortor.
        </div>

      </li>
    </ul>
  </div>

  <div class="span4 feature-list">

    <ul>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Vivamus ultrices lectus eget dolor feugiat rutrum.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Praesent vitae tellus lorem, mollis gravida tellus.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Proin elementum placerat libero, nec euismod odio iaculis vitae.
        </div>

      </li>
      <li>
        <div class="feature-icon">
          <i class="icon-check"></i>
        </div>

        <div class="feature-text">
          <h4>Feature Title</h4>
          Mauris eget augue dolor, quis laoreet tortor.
        </div>

      </li>
    </ul>
  </div>
-->


</div> <!-- /row -->

</div> <!-- /container -->

</div> <!-- /subpage -->

<%= render 'layouts/extra' %>
