<% canvas_id = "canvas_id_#{simulation_id}" %>

<% default_width = 400 %>
<% default_height = 300 %>

<!-- Default parameters -->

<% width ||= default_width %>
<% height ||= default_height %>

<% json_path ||= simulation_path(simulation_id, :json) %>

<% float ||= "none" %>
<% show_questions ||= false %>
<% debug ||= false %>

<!------------------------>

<div id="<%= canvas_id %>" class="canvas_wrapper center"
     style="width: <%= width + 4 %>px; height: <%= height+4 %>px; float: <%= float %>;">

  <!-- Fetch JSON data and initialize canvas -->
  <script type="text/javascript">

    $.getJSON("<%= json_path %>",
      function(data) {

        var world = loadBox2dFromJSON(data, $("#<%= canvas_id %> canvas"));
        world.debug = <%= debug %>
        createBounds(world);
        createBalls(world);
        var mouseResponderInstance = new MouseResponder(world, $("#<%= canvas_id %>"));
        var interval_id = render(world, mouseResponderInstance, $("#<%= canvas_id %> canvas"));
        console.log("Interval_id " + interval_id);

    });

  </script>

  <!-- Top link -->
  <%= link_to "", "#", remote: true %>

  <!------------------------------------------------------------------------------------
    The canvas area
    -->
  <canvas width="<%= width %>" height="<%= height %>" class="box2d_canvas">
    Your browser does not support HTML5 Canvas
  </canvas>

  <!------------------------------------------------------------------------------------
    Questions placed below canvas
    -->
  <% if show_questions %>
    <div style="width: <%= width + 4 %>px; float: <%= float %>" class="questions">
      <label>Text here</label>
      text text
    </div>
  <% end %>

</div>