
<div id="extra">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span4">

          <%= link_to image_tag(asset_path "footer/logo_text.png"), :root %>

          <ul class="footer-links clearfix" >
            <li><a href="./">Home</a></li>
            <li><a href="./pricing.html">Lessons</a></li>
            <li><a href="./about.html">Labs</a></li>
            <li><a href="../features.html">About</a></li>
          </ul>


          <ul class="footer-links clearfix">
            <li><a href="./faq.html">FAQ</a></li>
            <li><a href="javascript:;">Feedback</a></li>
            <li><a href="javascript:;">Contact Us</a></li>
            <li><a href="javascript:;">Privacy Policy</a></li>
          </ul>


          <div class="footer-quote">
            <p class="quote-text">
              <%= @quote.quote %>
            </p>
            <p class="quote-author">
              <%= "~  #{ @quote.author }"%>
            </p>
          </div>

        </div>

        <div class="span4">

          <h3><span class="slash">//</span> Stay In Touch</h3>


          <p>We're hoping to launch in the next few months, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>

          <ul class="social-icons-container">

            <li>
              <a href="javascript:;" class="social-icon social-icon-twitter">
                Twitter
              </a>
            </li>

            <li>
              <a href="javascript:;" class="social-icon social-icon-googleplus">
                Google +
              </a>
            </li>

            <li>
              <a href="javascript:;" class="social-icon social-icon-facebook">
                Facebook
              </a>
            </li>

          </ul>

        </div>

        <div class="span4">

          <h3><span class="slash">//</span> Subscribe and get updates</h3>

          <p>Physics Academy is still in development, so enter your email to receive updates and invitations for the beta.</p>

          <%= form_tag mailing_list_submit_path, remote: true do %>
            <%= email_field_tag :subscribe_email %>
            <br />
            <small id="subscribe_message">
              You've been subscribed! <br />If you'd like to join, feel free to <%= link_to "sign up", new_user_registration_path %>.<br />
            </small>
            <%= submit_tag "Subscribe", class: "btn btn-default", id: "subscribe_button" %>
            <%# link_to "Subscribe", mailing_list_submit_path(), remote: true, class: "btn btn-default", id: "subscribe_button" %>
          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>