<%# Footer to be displayed at bottom of the page %>
<footer>
  <div class="container">
    <nav>
      <%# horizontal list of links at the bottom of the page %>
      <ul>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
      </ul>
    </nav>

    <div class="clear_float"></div>
    <small>
      <%= link_to image_tag("logo_text.png", class: "logo-bottom"), root_path %><br />
     <a href="#">All content &copy 2012 </a><br />All Rights Reserved.
    </small>

  </div>
  <%= debug(params) if Rails.env.development? %>
</footer>

