<li id="fat-menu" class="dropdown">
  <% if Rails.env.development? %>

    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

  <% else %>

    <%= link_to new_user_session_path, id: "guest_login", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
      <%= guest_user.username %>
    <% end %>

    <ul class="dropdown-menu">
      <li><%= link_to destroy_user_session_path %></li>
      <li><%= link_to "Logout Guest", destroy_user_session_path, method: "delete" %></li>
    </ul>

  <% end %>
</li>