<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      <%= link_to "", :root, id: "logo" %>

      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="active">
            <%= link_to "Home", :root %>
          </li>

          <li>
            <%= link_to "Lessons".html_safe, lessons_path, class: "dropdown-toggle" %>
          </li>

          <li class="dropdown">
            <%= link_to "Labs <b class='caret'></b>".html_safe, labs_path, class: "dropdown-toggle"  %>
          </li>

          <li>
            <%= link_to "About", about_path %>
          </li>

          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>

        </ul>

      </div><!--/.nav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

       