<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      <%= link_to "", :root, id: "logo" %>

      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="active">
            <%= link_to "Home", :root %>
          </li>

          <li>
            <%= link_to "Lessons".html_safe, lessons_path, class: "dropdown-toggle" %>
          </li>

          <li class="dropdown">
            <%= link_to "Labs".html_safe, labs_path, class: "dropdown-toggle"  %>
          </li>

          <li>
            <%= link_to "About", about_path %>
          </li>

          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <%= render partial: "layouts/user_thumbnail" %>
          <% elsif guest_user? %>
            <li><%= link_to "Create Account to save your progress", new_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Create Account", new_user_registration_path %></li>
          <% end %>

        </ul>

      </div><!--/.nav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

       