<% content_for :mini_footer do %>
  <div class="nav">

    <ul>
      <li>
        <%= link_to "Blog" %>
      </li>
      <li>
        <%= link_to "FAQ" %>
      </li>
      <li>
        <%= link_to "Contact" %>
      </li>
      <li>
        <%= link_to "Privacy Policy" %>
      </li>
      <li>
        <%= link_to "FAQ" %>
      </li>
    </ul>

  </div>
<% end %>